# VSCode settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Personal and secret files
.env
auth.py

# Notebooks and backup files
*.ipynb
Dataloader.ipynb
Test.py
streamlit_app.py
requirements_backup.txt

# Data files
*.parquet
parquet_files/

# Temporary folders
Backup/
flask_session/
