
body {
  direction: ltr;
  font-family: "Calibri", sans-serif;
  margin: 0;
  padding: 0;
}
div[data-testid="collapsedControl"] {
  display: none
}
div[data-testid="stSidebar"] {
  display: none !important;
}

div[data-testid="stSidebarNav"] {
  display: none !important;
}

div[data-testid="stSidebarContent"] {
  display: none !important;
}

div[data-testid="stToolbar"] {
  visibility: hidden;
  height: 0;
  position: fixed;
}

div[data-testid="stDecoration"] {
  visibility: hidden;
  height: 0;
  position: fixed;
}
div[data-testid="stStatusWidget"] {
  visibility: hidden;
  height: 0;
  position: fixed;
}
#MainMenu {
  visibility: hidden;
  height: 0;
}
header {
  visibility: hidden;
  height: 0;
}
footer {
  visibility: hidden;
  height: 0;
}

section.main {
top: 65px !important;
position: relative;
}
